@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import 'tailwindcss';

:root {
  --color-main: #8f94fb;
  --color-text: #fff;
  --color-dark: #1f2124;
  --color-gray: #677;
  --color-bg: #ffffff;
  --color-light: #acb4bd;
  --color-lighter: #f9f9f9;
  --color-white: #fff;
  --color-yellow: #ffdf20;
  --color-teal: #0d542b;
  --color-green: #7bf1a8;
  --color-border: #e0e3e6;
  --color-disabled: #acb4bd;
  --color-error: #ef4444;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --font-size: 12px;
}

.dark {
  --color-main: #8f94fb;
  --color-text: #000;
  --color-dark: #f5f6f7;
  --color-gray: #999;
  --color-bg: #1f2124;
  --color-lighter: #292a2c;
  --color-white: #2e3235;
  --color-yellow: #ffdf20;
  --color-teal: #0d542b;
  --color-green: #7bf1a8;
  --color-border: #252629;
  --color-disabled: #acb4bd;
}

body {
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  min-height: 100vh;
}
